/* text color : #191919
primary color : #ECDBBA
secondary color : #2D4263 */
* {
  box-sizing: border-box;
}

body {
  background-color: #ECDBBA;
  color: #191919;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

p {
  padding: 5px;
  margin: 20px;
}

.list-container {
  margin-top: 90px
}

.button-class {
  background-color: #2D4263;
  color: white;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 6px;
  transition-duration: .4s;
  cursor: pointer;
  border: #2D4263;
  width: 33%;
  text-transform: capitalize;
}

.button-class:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.box-shadow {
  box-shadow: 10px 10px 5px #D8B6A4;
}

.box-shadow:active {
  box-shadow: 6px 6px 5px #D8B6A4;
  transform: translateY(4px);
}

ul.no-bullets {
  list-style-type: none;
}

.capitalize {
  text-transform: capitalize;
}
